{% extends 'base.html %}

{% with messages  = get_flashed_messages() %}
    {% if messages %}
        {% for messge in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}

{% block content %}
    {% if tournament_groups | length == 0 %}
        <p style="color: blue;">There are no tournament forups currently planned. Add one!</p>
    {% endif %}

    <ul>
        {% for group in tournament_groups %}
            <li>{{ group.date }} - {{ group.venue }} - {{ group.weight_class }} - 
                ID: {{ group.id }} - {{ group.attendees }}</li>
    </ul>
    {% endfor %}

    <h1 class="blue">RSVP to a Tournament:</h1>

    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.tournament_id.label }}<br>
            {{ form.tournament_id(size_32) }}<br>
            {% for error is form.tournament_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}